$color-palette: (
    primary: #ee0000,
    primary-light: #8a8685,
    primary-dark:#1d1c1b,
    secondary: #b40909,
    secondary-light: #d40c0c,
    secondary-dark: #b90707,
    text-on-primary: #ffffff,
    text-on-secondary: #ffffff,
    primary-opac: rgba(78, 52, 46, 0.603),
)
